<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236972370773-n4a96eia177hj8vel2b9l9ph4sank7ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236972370773-n4a96eia177hj8vel2b9l9ph4sank7ob</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>236972370773-l0d14u8ncrf7996m1rng1buc5mfhi4fg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHMXKEcVZoTcDxBDqoH10di-scANeCCTY</string>
	<key>GCM_SENDER_ID</key>
	<string>236972370773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theVetApp</string>
	<key>PROJECT_ID</key>
	<string>thevetapp-fd704</string>
	<key>STORAGE_BUCKET</key>
	<string>thevetapp-fd704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236972370773:ios:9f19766d2509783d5c1ddc</string>
</dict>
</plist>